# Arrays

Let us say your expense for every month are listed below,       
January - 2200      
February - 2350     
March - 2600    
April - 2130    
May - 2190  
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [7]:
arr = {
    "january": 2200, 
    "february" : 2350, 
    "march" : 2600, 
    "april" : 2130, 
    "may" : 2190
}

In [8]:
def func(month1, month2):
    extra_money = arr[month2] - arr[month1]
    return extra_money
print(func("january", "february"))

150

In [9]:
sum = 0
for i, k in enumerate(arr.values()):
    if i < 3 : 
        sum = k + sum
    else:
        break 
print(sum)

7150

In [10]:
sum = 0 
for i in arr:
    sum = arr[i] + sum
print(sum)

11470

In [11]:
for i in arr:
    if arr[i] == 2000:
        print(arr[i])
else:
    print("None")

None

In [12]:
arr.append({"June", 1980})     # cause its a dictionary

AttributeError: 'dict' object has no attribute 'append'

In [13]:
arr.update({"june" : 1980})
# OR
arr["july"] = 1980

In [14]:
arr

{'january': 2200,
 'february': 2350,
 'march': 2600,
 'april': 2130,
 'may': 2190,
 'june': 1980,
 'july': 1980}

In [15]:
arr["april"] = arr["april"] - 200

In [16]:
arr

{'january': 2200,
 'february': 2350,
 'march': 2600,
 'april': 1930,
 'may': 2190,
 'june': 1980,
 'july': 1980}

2. You have a list of your favourite marvel super heros.

In [17]:
heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [18]:
len(heros)

5

In [19]:
heros.append("balck panther")
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'balck panther']

In [20]:
heros.pop()
heros.insert(3, "black panther")
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [21]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [22]:
heros[1:3] = ["DoctorStrange"]
heros

['spider man', 'DoctorStrange', 'black panther', 'iron man', 'captain america']

In [23]:
heros.sort()
heros

['DoctorStrange', 'black panther', 'captain america', 'iron man', 'spider man']

3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [24]:
a = int(input("give your number"))
arr = []
for i in range(1, a, 2):
    arr.append(i)

ValueError: invalid literal for int() with base 10: ''

# LINKEDLIST 

Implementation

In [25]:
class Node:
    def __init__(self, data, next):
        self.data = data
        self.next = next

class linkedlist:
    def __init__(self):
        self.head = None

    def printLL(self):
        if self.head is None:
            raise Exception("LinkedList is empty") 
            return
        itr = self.head
        lltr = ""
        while itr:
            lltr += str(itr.data) + "--->" if itr.next else str(itr.data)
            itr = itr.next
        print(lltr)

    def insert_at_begining(self, data):
        node = Node(data, self.head)
        self.head = node
    
    def insert_at_end(self, data):
        node = Node(data, None)
        if self.head is None:
            self.head = node
        itr = self.head
        while itr.next:
            itr = itr.next 
        itr.next = node
        
    
    def length(self):
        itr = self.head
        count = 0 
        while itr:
            count += 1
            itr = itr.next
        print(count)
        return count

    def insert_at(self, index, data ):

        if index < 0  or index > self.length():
             print("invalid")
             return 
         
        if index == 0 :
             self.insert_at_begining(data)
             return
        count=0
        itr = self.head
        while itr and count != index-1:
            count += 1
            itr = itr.next
        node = Node(data, itr.next)
        itr.next = node

    def remove_at(self, index):
        if index < 0  or index > self.length():
            print("invalid")
            return
        
        if index == 0 :
            self.head = self.head.next
            return

        count = 0 
        itr = self.head
        while itr and count != index-1:
            count += 1
            itr = itr.next
        itr.next = itr.next.next
        return
    
    def insert_list(self, list):
        for i in list:
            self.insert_at_end(i)


    def insert_after_value(self, data_after, data_to_insert):
        itr = self.head
        while itr:
            data = itr.data
            if data == data_after:
                break
            itr = itr.next
        node = Node(data_to_insert, itr.next)
        itr.next = node

    def remove_by_value(self, data_to):
        # Remove first node that contains data
        itr = self.head
        while itr.next:
            data = itr.next.data
            if data == data_to:
                break
            itr = itr.next
        itr.next = itr.next.next

In [26]:
link = linkedlist()
link.insert_at_begining(1)
link.insert_at_begining(2)
link.insert_at_begining(3)
link.insert_at_begining(4)
link.printLL()

link.insert_at_end(9)
link.printLL()

link.length()

link.insert_at(2, 10)
link.printLL()

link.remove_at(3)
link.printLL()

link.insert_after_value(10, 12)
link.printLL()

link.remove_by_value(10)
link.printLL()

4--->3--->2--->1
4--->3--->2--->1--->9
5
5
4--->3--->10--->2--->1--->9
6
4--->3--->10--->1--->9
4--->3--->10--->12--->1--->9
4--->3--->12--->1--->9

In [27]:
class Node:
    def __init__(self, data=None, next=None, prev=None):
        self.data = data
        self.next = next
        self.prev = prev
    
class LinkedList:
    def __init__(self):
        self.head = None
    
    def insert_at_begining(self, data):
        if self.head is None:  # case: empty list
            self.head = Node(data, None, None)
        else:
            node = Node(data, self.head, None)
            self.head.prev = node
            self.head = node
        

    def insert_at_end(self, data):
        itr = self.head
        while itr.next:
            itr = itr.next
        node = Node(data, None, itr)
        itr.next = node

    def printLL(self):
        if self.head is None:
            raise Exception("LinkedList is empty") 
            return
        itr = self.head
        lltr = ""
        while itr:
            lltr += str(itr.data) + "--->" if itr.next else str(itr.data)
            itr = itr.next
        print(lltr)

    def print_forward(self):
        itr = self.head
        lltr = ""
        while itr:
            lltr += str(itr.data) + "<--->" if itr.next else str(itr.data) 
            itr = itr.next 
        print(lltr)

    def print_backward(self):
        itr = self.head
        lltr = ""
        while itr.next:
            itr = itr.next

        while itr:
            lltr += str(itr.data) + "<--->" if itr.prev else str(itr.data) 
            itr = itr.prev
        print(lltr)

In [28]:
link = LinkedList()
link.insert_at_begining(1)
link.insert_at_begining(2)
link.insert_at_begining(3)
link.insert_at_begining(4)
link.printLL()

link.insert_at_end(9)
link.insert_at_end(10)
link.insert_at_end(11)
link.printLL()

link.print_backward()
link.print_forward()

4--->3--->2--->1
4--->3--->2--->1--->9--->10--->11
11<--->10<--->9<--->1<--->2<--->3<--->4
4<--->3<--->2<--->1<--->9<--->10<--->11

In [29]:
link.print_backward()

11<--->10<--->9<--->1<--->2<--->3<--->4

In [30]:
link.print_forward()

4<--->3<--->2<--->1<--->9<--->10<--->11

# HASHMAP

creating a Hash Function

In [31]:
class HashTable:
    def __init__(self):
        self.MAX = 10
        self.arr = [None for i in range(10)]

    def get_hash(self, key):
        hash = 0 
        for k in key:
            hash += ord(k)
        return hash % self.MAX
    
    def __getitem__(self, key):
        h = self.get_hash(key)
        return self.arr[h]

    def __setitem__(self, key, val):
        h = self.get_hash(key)
        self.arr[h] = val
        return True

In [32]:
t = HashTable()

In [33]:
t["march 6"] = 120
t["march 8"] = 67
t["march 9"] = 4
t["march 17"] = 459

In [34]:
t.arr

[None, 67, 4, None, None, None, None, None, None, 459]

In [35]:
t["march 8"]

67

## Solving the Problem of Hash Collision

### Linear Chaining  --> O(n)

In [36]:
class HashTable:
    def __init__(self):
        self.MAX = 10
        self.arr = [[] for i in range(10)]

    def get_hash(self, key):
        hash = 0 
        for k in key:
            hash += ord(k)
        return hash % self.MAX
    
    def __getitem__(self, key):
        h = self.get_hash(key)
        for k, v in enumerate(self.arr[h]):
            if k == key:
                return v
        return "not found"

    # def __setitem__(self, key, val):
    #     h = self.get_hash(key)
    #     self.arr[h].append((key, val))            
    #     return True
    
    # set and update logic
    def __setitem__(self, key, val):
        h = self.get_hash(key)
        found = False
        for index, tup in enumerate(self.arr[h]):
            if len(tup) == 2 and tup[0] == key:
                self.arr[h][index] = (key, val)
                found = True
                break
        if not found:
            self.arr[h].append((key, val))

    def __delitem__(self, key):
        h = self.get_hash(key)
        for idx, kv in enumerate(self.arr[h]):
            if kv[0] == key and len(kv) == 2:
                print(f"deleted : {kv[0]} , {kv[1]}")
                del self.arr[h][idx]

In [37]:
t = HashTable()
t["march 6"] = 120
t["march 8"] = 67
t["march 9"] = 4
t["march 17"] = 459

In [38]:
t.arr

[[],
 [('march 8', 67)],
 [('march 9', 4)],
 [],
 [],
 [],
 [],
 [],
 [],
 [('march 6', 120), ('march 17', 459)]]

In [39]:
t["march 17"] = 67
t.__delitem__("march 6")

deleted : march 6 , 120

In [40]:
t.arr

[[],
 [('march 8', 67)],
 [('march 9', 4)],
 [],
 [],
 [],
 [],
 [],
 [],
 [('march 17', 67)]]

In [41]:
data = {
    "Jan 1": 27,
    "Jan 2": 31,
    "Jan 3": 23,
    "Jan 4": 34,
    "Jan 5": 37,
    "Jan 6": 38,
    "Jan 7": 29,
    "Jan 8": 30,
    "Jan 9": 35,
    "Jan 10": 30
}

In [45]:
if "Jan 10" in data :
    print("yess")

yess

In [42]:
sum = 0 
count = 0
for k in data:
    sum += data[k]
    count += 1
print(sum/count)

31.4

In [44]:
# mx = -999

# for day in data :
#     if data[day] > mx :
#         mx = data[day]
# print(mx)


#    OR
max_d = max(data, key=data.get) 
maxi = data[max_d]
print(maxi)

38

In [51]:
poem = """
Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and I—
I took the one less traveled by,
And that has made all the difference."""

words = poem.split()
data = {}
for i in words:
    if i in data:
        data[i] += 1
    else:
        data[i] = 1

In [53]:
data

{'Two': 2,
 'roads': 2,
 'diverged': 2,
 'in': 3,
 'a': 3,
 'yellow': 1,
 'wood,': 2,
 'And': 6,
 'sorry': 1,
 'I': 8,
 'could': 2,
 'not': 1,
 'travel': 1,
 'both': 2,
 'be': 2,
 'one': 3,
 'traveler,': 1,
 'long': 1,
 'stood': 1,
 'looked': 1,
 'down': 1,
 'as': 5,
 'far': 1,
 'To': 1,
 'where': 1,
 'it': 2,
 'bent': 1,
 'the': 8,
 'undergrowth;': 1,
 'Then': 1,
 'took': 2,
 'other,': 1,
 'just': 1,
 'fair,': 1,
 'having': 1,
 'perhaps': 1,
 'better': 1,
 'claim,': 1,
 'Because': 1,
 'was': 1,
 'grassy': 1,
 'and': 3,
 'wanted': 1,
 'wear;': 1,
 'Though': 1,
 'for': 2,
 'that': 3,
 'passing': 1,
 'there': 1,
 'Had': 1,
 'worn': 1,
 'them': 1,
 'really': 1,
 'about': 1,
 'same,': 1,
 'morning': 1,
 'equally': 1,
 'lay': 1,
 'In': 1,
 'leaves': 1,
 'no': 1,
 'step': 1,
 'had': 1,
 'trodden': 1,
 'black.': 1,
 'Oh,': 1,
 'kept': 1,
 'first': 1,
 'another': 1,
 'day!': 1,
 'Yet': 1,
 'knowing': 1,
 'how': 1,
 'way': 1,
 'leads': 1,
 'on': 1,
 'to': 1,
 'way,': 1,
 'doubted': 1,
 'if': 1,
 'should': 1,
 'ever': 1,
 'come': 1,
 'back.': 1,
 'shall': 1,
 'telling': 1,
 'this': 1,
 'with': 1,
 'sigh': 1,
 'Somewhere': 1,
 'ages': 2,
 'hence:': 1,
 'I—': 1,
 'less': 1,
 'traveled': 1,
 'by,': 1,
 'has': 1,
 'made': 1,
 'all': 1,
 'difference.': 1}

### Linear Probing

In [ ]:
class Hashtable:
    def __init__(self):
        self.MAX = 10
        self.arr = [None for i in range(10)]

    def get_hash(self, key):
        h = 0
        for char in key:
            h += ord(char)
        return h % 10

    def __setitem__(self, key, val):
        h = self.get_hash(key)
        start = h 
        while self.arr[h]:
            if self.arr[h][0] == key:
                self.arr[h] = (key, val)
            h = (h+1) % 10
            if h == start:
                print("hashtable full")
                break 
        self.arr[h] = (key,val)
        

    def __getitem__(self, key ):
        h = self.get_hash(key)
        start = h 
        while self.arr[h]:
            if self.arr[h][0] == key:
                return self.arr[h][1]
            h = (h+1) % 10
            if h == start:
                print("does Not exist ")
                break

In [76]:
ht = Hashtable()
ht["apple"] = 100
ht["banana"] = 200
ht["apple"] = 300  # update
print(ht["apple"])  # 300
print(ht["banana"])

300
200

In [77]:
ht.arr

[('apple', 300),
 ('apple', 300),
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ('banana', 200)]